<section id="1-ice-violates-human-rights">
  <h2 class="supersized">#NoTechForICE #DefundPalantir</h2>
  <h2>
    Palantir Uses Open Source to Profit from Human Rights Abuses.
  </h2>

  <p>
    On any given day, <a href="https://commons.wikimedia.org/wiki/File:ADP_Detained_Immigrants_1994-2018.png">40,000 people are detained</a> by ICE
    in <a href="https://www.motherjones.com/politics/2018/10/ice-adelanto-detention-facility-inspector-report/">unsafe and unsanitary conditions</a>
    with <a href="https://www.aclu.org/report/code-red-fatal-consequences-dangerously-substandard-medical-care-immigration-detention">sub-standard
    medical care</a> and <a href="https://www.americanimmigrationcouncil.org/research/access-counsel-immigration-court">sporadic, if any, access to legal counsel.</a>
  </p>

  <p>
    These conditions have led directly to <a href="https://www.ice.gov/doclib/foia/reports/detaineedeaths-2003-2017.pdf">nearly two hundred
    detainee deaths at the hands of ICE</a>.
  </p>

  <p>
    And if the human costs are not enough to persuade you, consider the financial ones. In 2018,
    <a href="https://immigrationforum.org/article/math-immigration-detention-2018-update-costs-continue-mulitply/">tax payers spent $3.076 billion
      dollars on DHS Custody Operations</a>. A budget four times greater than the Department of Education's
    English Language Acquisition programs.
  </p>

  <p>In addition to the cruelty of ICE and the financial costs to tax-payers, ICE is the public face
    <a href="https://www.aclu.org/report/emergence-global-infrastructure-mass-registration-and-surveillance-report">
      of the United States&rsquo; ever-expanding domestic surveillance apparatus.</a> How? Through lucrative contracts with
      privately held technology companies like <a href="https://www.motherjones.com/politics/2019/08/ice-palantir-contract-amount-revealed/">Palantir</a>,
    <a href="https://www.theverge.com/2018/6/21/17488328/microsoft-ice-employees-signatures-protest">Microsoft</a>, and even darling
    <a href="https://www.washingtonpost.com/technology/2019/10/09/employees-ask-github-cancel-ice-contract-we-cannot-offset-human-lives-with-money/">GitHub</a>.
  </p>
</section>
<section id="2-using-our-labor">
  <h2>How is Open Source Involved?</h2>
  
  <p>
    Palantir Technologies, a software company co-founded by top Trump adviser Peter Thiel, 
    collects tens of millions of dollars from ICE every year,
    despite continuous protests of the tech firm's role in the abuses of the U.S. immigration system.
  </p>
    <p>
    At present, <a href="https://github.com/palantir">Palantir has <%= @repo_count %> repositories hosted on GitHub</a>, which rely on
    thousands of open source projects. Every dependency in use by ICE and Palantir contributes to human rights violations.
    Each dependency is a stone in the wall between reality and the dream of open source as a champion of freedom, liberty and equality.
  </p>
</section>
<section id="3-what-to-do">
  <h2>What can we do if we don't want our work to be used in this way?</h2>
  <p>
    Students across the country are organizing to stop Palantir from recruiting on their campuses.
    Whistleblowers are risking everything to go public detailing how their companies are complicit.
    International human rights groups are investigating ICE. And immigrant rights activists are
    working tirelessly to protect vulnerable people from the evils of the current anti-immigrant
    policies put in place by the Trump administration (and other administrations before his.)
  </p>

  <p>
    As software developers, we can stand in solidarity. Here's how:
  </p>

  <h3 id="3-a-if-you-have-time">If you can:</h3>
  <ul>
    <li>Support and participate in <a href="https://mijente.net">#NoTechForICE</a> and <a href="https://organiz.org/campaign/1598893733688-defundpalantir">#DefundPalantir</a>
     protests and programs</a>.</li>
    <li>Plant the seeds of social responsibility in your open source community 
    by following the criteria of the <a href="https://ethicalsource.dev/definition">Ethical Source Definition</a>.
    <li>Adopt an <a href="https://ethicalsource.dev/licenses">an Ethical Source license</a> for your current open source software projects.</li>
    <li>Refuse to contribute code to Palantir's open source projects.</li>
    <li>Refuse to accept issues and pull requests from Palantir employees.</li>
  </ul>

  <h3 id="3-b-if-you-have-money">If you have money:</h3>
  <p>A little goes a long way. If it is safe to do so, share some of
     your financial resources with programs with a track record
     of direct action, harm reduction and remediation, and systemic changes.
     The following is a small sample of organizations working to promote social
     justice in technology.
  </p>

  <ul>
    <li>Become a dues-paying member of <a href="https://mijente.net/">Mijente</a>,
      a pro-Latinx, pro-Black, pro-woman, pro-queer, pro-worker organization
      dedicated to restoring the liberty of those taken by ICE.</li>
    <li>Donate $100 per month to <a href="http://joinfundclub.com">Fund Club</a>,
      which funds a different grassroots, under-funded non-profit social and
      economic justice program every month.</li>
    <li>Donate to the <a href="https://opencollective.com/ethical-source">
      Ethical Source Open Collective</a>.</li>
  </ul>
</section>
<section id="4-tear-down-the-wall" class="mw-inherit">
  <h2>
    Tear Down The Wall!
  </h2>
  <p>
    This is the wall that open source has built for ICE. Every open source dependency listed here (updated nightly) is used
    in Palantir's software and supports ICE in its systematic human rights violations. What can we do to tear down this wall?
  </p>

  <%= javascript_pack_tag 'filter' %>

  <section id="4-a-searchable-dependencies">
    <fieldset id="4-a-1-filters">
      <div>
        <label for="filter-programming-languages">
          <h3>Filter by Programming Language</h3>
        </label>
        <div class="language-selector-container">
          <div class="language-selector selected" id="filter-all" onClick="filter('all')">
            All
          </div>
          <% @languages.each do |language| %>
            <div class="language-selector" id="filter-<%= language.name.downcase %>" onClick="filter('<%= language.name.downcase %>')">
              <%= language.name %>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
    <section id="4-a-2-dependencies">
      <% dependencies.each do |dependency| %>
        <div class="dependency all <%= dependency.language.downcase %>">
          <h3><%= link_to dependency.name, dependency.url, target: "_new" %></h3>
          <p>
            <%= dependency.language %><br />
          </p>
          <% dependency.projects.uniq.each do |project| %>
            <%= link_to project.github_identifier, project.repo_url, target: "_new" %><br />
          <% end %>
        </div>
      <% end %>
    </section>
  </section>

</section>

<br style="clear: both;" />

<h2 class="supersized">#NoTechForICE #DefundPalantir</h2>
