<!DOCTYPE html>
<html>
  <head>
    <title>Icebreaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV.fetch('ANALYTICS_ID', "") %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= ENV.fetch('ANALYTICS_ID', "") %>');
    </script>
  </head>

  <body>
    <div class="body">
      <%= yield %>
    </div>
    <footer>
      <p>Created by <a href="https://where.coraline.codes/">Coraline Ada Ehmke</a>,
      Dean Galvin, and Zee in 2020.</p>
    </footer>
  </body>
</html>
